.form-container {
  max-width: 400px;
  margin: 0 auto;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

button {
  background-color: #34516b;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 3px;
}

button:hover {
  background-color: #204769;
}

.error {
  color: red;
  font-size: small;
}