.books-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.books-container ul {
  list-style-type: none;
  padding: 0;
}

.books-container li {
  margin-bottom: 20px;
  border-bottom: 1px solid;
  padding-bottom: 10px;
}

.books-container img {
  max-width: 100px;
  height: auto;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}